<table style="display: flex;flex-direction: column; justify-content: center; align-items: center;">
    <thead style="margin: 10px;">
        <th scope='col' style="margin: 10px;">Id</th>
        <th scope='col'style="margin: 10px;">Nombre</th>
        <th scope='col'style="margin: 10px;">Precio</th>
        <th scope='col'style="margin: 10px;">URL</th>
    </thead>
    <tbody style="margin: 10px;">
        <% productos.forEach(function(product) { %>
            <tr>
                <th style="margin: 10px;" scope="row"><%= product.id %> </th>
                <td style="margin: 10px;"><%= product.title %></td>
                <td style="margin: 10px;"><%= product.price %></td>
                <td style="margin: 10px;"><img src=<%= product.thumbnail %> alt="img" width="20px" height="20px"/></td>
                
            </tr>
        <% }); %>
    </tbody>
</table>