<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2 style="text-align: center;">Vista de productos</h2>
    <%- include("./partials/table.ejs",{productos: productos})  %>
    <div style="display:flex; align-items: center; justify-content: center; flex-direction: column;">
        <a href="/">Volver al form</a>
    </div>
</body>
</html>