<div class="mainform">
    <form action="/productos" method="post" class="formprod" style="display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px;">
         <label for="nombre">Producto</label>
         <input type="text" name="nombre" id="nombre" required />
         <label for="precio">Precio</label>
         <input type="text" name="precio" id="precio" required />
         <label for="url">Icono</label>
         <input type="text" name="url" id="url" required />
         <button type="submit">Enviar Producto</button>

    </form>
</div>