<table>
    <thead>
        <th scope='col'>Id</th>
        <th scope='col'>Nombre</th>
        <th scope='col'>Precio</th>
        <th scope='col'>URL</th>
    </thead>
    <tbody>
        {{#each contenedorProductos}}
            <tr>
                <th scope="row">{{this.id}}</th>
                <td>{{this.nombre}}</td>
                <td>{{this.precio}}</td>
                <td><img src={{this.url}} alt="img" width="20px" height="20px"/></td>
                
            </tr>
        {{/each}}
    </tbody>
</table>