<h1 style="text-align: center;" >Vista de productos</h1>

{{> vista}}


<div style="display: flex ; justify-content: center; align-items: center; flex-direction: column; margin: 10px;">
    <a href="/">Volver al formulario</a>
</div>